// ----------------------------------------------------------------------
//
// input component
//
// ----------------------------------------------------------------------

cheapthrills-input {
  position: absolute;
  display: table;
  width: 80%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0 10%;
  background: white;
  opacity: 1;
  transition: opacity $medium-duration ease-out;

  &.outro {
    opacity: 0;
    pointer-events: none;
  }

  .input-component {
    display: table-cell;
    vertical-align: middle;
  }

  .input-description {
    opacity: 0;
    transition: opacity $long-duration ease-out;

    &.reveal {
      opacity: 1;
    }
  }

  .input-cta {
    background: $green-cta;
    color: $white-typography;

    &:disabled {
      background: $grey-input;
    }
  }

  form {
    width: 100%;
  }

  input[type=text],
  button {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity $medium-duration ease-out,
                transform $medium-duration ease-out;

    &.reveal {
      opacity: 1;
      transform: translateY(0);
    }
  }

  input[type=text] {
    width: calc(100% - #{$padding-input} * 2);
    margin: 0.6em 0;
    transition-delay: $medium-duration * 0.4;

    &:focused {
      outline: auto;
    }
  }

  button {
    transition-delay: $medium-duration * 0.8;
  }

}
