.queue-big-button {
  height: $queue-button-diameter;

  .big-button {
    background: #5db503;
    transition: opacity 300 ease-out;

    &-disc {
      position: absolute;
      margin: $queue-button-stroke 0 0 $queue-button-stroke;
      width: $queue-button-diameter - $queue-button-stroke * 2;
      height: $queue-button-diameter - $queue-button-stroke * 2;
      border-radius: 100%;
      display: flex;
      align-items: center;

      span {
        color: white;
        margin: 0 auto;
        font-size: 0.8em;
        font-weight: bold;
      }
    }

  }

  cheap-thrills-button-ring,
  .big-button-svg {
    width: $queue-button-diameter;
    height: $queue-button-diameter;
  }

  cheap-thrills-button-ring {
    position: absolute;

    circle {
      transition: stroke-dashoffset .2s ease-in-out
    }
  }

}
