.queue-big-button {
  height: $queue-button-diameter;
  width: $queue-button-diameter;
  margin: 20px auto;

  a .big-button-disc {
    span {
      margin: 0 auto;
      color: white;
      text-decoration: none;
      font-size: 0.8em;
      font-weight: bold;
    }
  }

  .big-button {
    background-color: $green-cta;
    transition: opacity 0.3s ease-out,
                background-color 0.3s ease-out;
    @include pointer();

    &-disc {
      position: absolute;
      margin: $queue-button-stroke 0 0 $queue-button-stroke;
      width: $queue-button-diameter - ($queue-button-stroke + $queue-button-inner-stroke) * 2;
      height: $queue-button-diameter - ($queue-button-stroke + $queue-button-inner-stroke) * 2;
      border-radius: 100%;
      border: $queue-button-inner-stroke solid white;
      display: flex;
      align-items: center;
    }

  }

  cheapthrills-button-ring,
  .big-button-svg {
    width: $queue-button-diameter;
    height: $queue-button-diameter;
  }

  cheapthrills-button-ring {
    position: absolute;

    circle {
      transition: stroke-dashoffset .2s ease-in-out
    }
  }

}
