@import 'properties';
@import 'mixins';
@import 'grid';
@import 'forms';
@import 'app/button/button';
@import 'app/input/input';
@import 'app/queue/queue';

html,
body {
  margin: 0;
  height: 100%;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300
}

.hidden {
  height: 0;
  opacity: 0;
  visibility: hidden;
}


// ----------------------------------------------------------------------
//
// main component
//
// ----------------------------------------------------------------------

cheapthrills-root,
.main-container {
  display: block;
  height: 100%;
}

cheapthrills-root {
  .loading-init {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.main {
  margin: auto;
  max-width: $break-large;
  height: 100%;
}
