.queue {
  font-size: 0.8em;
}

.queue-item {
  height: 0;
  overflow: hidden;
  border-bottom: 1px dotted lightgrey;
  visibility: hidden;
  cursor: pointer;
  cursor: hand;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease-out,
              transform .3s .1s ease-out,
              height .3s ease-in-out;

  &.reveal {
    height: $queue-item-title-height;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }

  &.expand {
    // TODO - can't transition between static and relative
    // height: calc(100%);
    height: 120px;
  }

  &-contents {
    height: $queue-item-title-height;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &-title {
    font-size: 1em;
    padding-left: $queue-item-title-padding;
  }

  .thumbnail {
    max-width: $queue-item-title-height - $queue-item-title-padding * 2;
    padding: $queue-item-title-padding;
  }

  .overlay-error {
    // TODO - add error icon
    position: absolute;
    background-color: #8e0404;
    width: calc(100% - 30px);
    height: calc(100% - 20px);
    margin: 0 5px 5px;
    padding: 5px 10px;
    color: white;
    display: flex;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-out;

    &.has-error {
      visibility: visible;
      opacity: 0.9;
    }
  }

  .drawer {
    // both of these can probably inherit from a global style

    label {
    }

    input {
    }
  }

}
