<div [ngClass]="{
    'queue-item': true,
    'reveal': reveal ? true : false,
    'expand': expand ? true : false
  }"
  [style.transition-delay]="getTransitionDelayString()"
>
  <div class="queue-item-contents" (click)="onClickExpandToggle($event)">
    <img class="thumbnail" src="{{ thumbnail.url }}" />
    <h2 class="queue-item-title">{{ queueItem.title }}</h2>
  <!--
    <p *ngIf="conversionData">{{ conversionData.file }}</p>
    <p>{{ progress }}</p>
    <p [ngClass]="{'hide': !conversionComplete}">ready to download!</p>
    <p style="display: none">{{ queueItem.description }}</p>
  -->
    <div [ngClass]="{
        'overlay-error': true,
        'has-error': errorMsg ? true : false
      }"
    >
      <p *ngIf="errorMsg">{{ this.errorMsg }}</p>
      <p> testing error </p>
    </div>
  </div>

  <div class="drawer">
    <form name="{{ 'options-' + queueItem.videoId }}">
      <label for="startTime">Start Time:</label>
      <input
        #startTime
        (keyup)="updateOptions({ startTime: startTime.value })"
        type="text" name="startTime" placeholder="eg. 0, 44:01, 1:44:5, etc" />

      <label for="endTime">End Time:</label>
      <input
        #endTime
        (keyup)="updateOptions({ endTime: endTime.value })"
        type="text" name="endTime" placeholder="eg. 0, 44:01, 1:44:5, etc" />

      <label for="title">Title:</label>
      <input
        #songTitle
        (keyup)="updateOptions({ songTitle: songTitle.value })"
        type="text" name="songTitle" placeholder="{{ autoTitle }}" />

      <label for="artist">Artist:</label>
      <input
        #artist
        (keyup)="updateOptions({ artist: artist.value })"
        type="text" name="artist" placeholder="{{ autoArtist }}" />
    </form>
  </div>

</div>
