<div *ngIf="queueArray" [ngClass]="{
  'queue-container': true,
  'destroyed': destroyed
}">

  <div class="queue-header-container">

    <div class="back-button pointer"
        (click)="onClickBackButton($event)"
        [@revealState]=revealState>
      <span class="icon-back"></span>
      <span>back</span>
    </div>

    <cheapthrills-button class="big-button-ring" (notifyConvert)="onConvertClicked($event)"></cheapthrills-button>

  </div>

  <div class="queue">
    <cheapthrills-queue-item
      *ngFor="let queueItem of queueArray"
      [queueItem]="queueItem">
    </cheapthrills-queue-item>
  </div>
  <div
    [ngClass]="{ 'queue-overlay': true, 'has-error': showOverlay }"
  >
    {{ overlayMsg }}
  </div>
</div>
