<div *ngIf="queueArray" class="queue-container">
  <!-- TODO - convert these buttons into a progress/stateful button component  -->
  <button
    type="button"
    (click)="onConvertClicked($event)"
  >
    Begin Conversion
  </button>
  <form
    *ngIf="queueComplete"
    method="get"
    action="{{downloadPath}}">
    <button type="submit">Download!</button>
  </form>
  <div class="queue">
    <cheap-thrills-queue-item
      *ngFor="let queueItem of queueArray"
      [queueItem]="queueItem">
    </cheap-thrills-queue-item>
  </div>
  <div
    [ngClass]="{ 'queue-overlay': true, 'has-error': showOverlay }"
  >
    {{ overlayMsg }}
  </div>
</div>
